---
{
  "title": "Call to Action",
  "schema": [
    {
      "name": "Header",
      "uid": "header",
      "type": "text"
    },
    {
      "name": "Link",
      "uid": "href",
      "type": "text"
    }
  ]
}
---
<section class="cta">
  <a href="{{href}}">
    <h3>{{header}}</h3>
  </a>
</section>